input,
input::placeholder {
    font-family:'Apercu Arabic Pro';
    font-style: normal;
    color: #2D2D2D;
}

input {
    padding-left: 46px;
    font-size: 18px;
    margin-bottom:8px;
    box-sizing: border-box;
    max-width: 557px;
    width: 100%;
    height: 93px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
  
.main {
    flex: 1;
    display: flex;
    align-items: start;
    margin-left: 150px;
    flex-direction: column;
}

@media (max-width: 800px) {
    .main {
      margin-left: 20px;
      margin-right: 20px;
    }
}

.eror-messsage {
    color: #bf1650;
    margin: 0px;
}

.street-view {
    position: absolute;
    background-image: url('./static/street-view.svg');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 501px 855px;
    width: 800px;
    height: 800px;
    right: -350px;
    top: -125px;
    z-index: -10;
}

.cloud {
    position: absolute;
    background-image: url('./static/cloud.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -11;
}

.cloud-1 {
    right: 779px;
    top: 12px;
    width: 103px;
    height: 136px;
}

.cloud-2 {
    right: 302px;
    top: 10px;
    width: 218px;
    height: 164px;
}

.cloud-3 {
    left: -38px;
    top: 34px;
    width: 245px;
    height: 184px;
}

.cloud-4 {
    left: -108px;
    top: 248px;
    width: 218px;
    height: 164px;
}

.cloud-5 {
    left: 600px;
    top: 460px;
    width: 170px;
    height: 164px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.pink-circle {
    height: 210px;
    border-radius: 50%;
    background: #F472B7;
    z-index: -9;
}

.pink-circle-width {
    width: 210px;
    z-index: -15;
}

#pink-circle-1 {
    z-index: -9;
    top: 384px;
    right: 300px;
}

#pink-circle-2 {
    top: 10px;
    left: 70px;
}

#pink-eye-left {
    background-size: 15px;
    position: absolute;
    background-image: url(./static/smile-2.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 130px;
    bottom: 98px;
}

#pink-eye-right {
    background-size: 15px;
    position: absolute;
    background-image: url(./static/smile-2.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 100px;
    bottom: 120px;
}

#pink-mouth {
    background-size: 29px;
    position: absolute;
    background-image: url(./static/smile-1.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    right: 106px;
    bottom: 95px;
}

.yellow-circle {
    height: 85px;
    border-radius: 50%;
    background: #FAD34F;
}

.yellow-circle-width {
    width: 88px;
    z-index: -7;
}


#yellow-eye-right {
    background-size: 4px;
    position: absolute;
    background-image: url(./static/yellow-eye-right.svg);
    background-repeat: no-repeat;
    width: 6px;
    height: 4px;
    left: 44px;
    top: 13px;
}

#yellow-eye-left {
    background-size: 4px;
    position: absolute;
    background-image: url(./static/yellow-eye-right.svg);
    background-repeat: no-repeat;
    width: 6px;
    height: 4px;
    left: 35px;
    top: 18px;
}

#yellow-mouth {
    background-size: 8px;
    position: absolute;
    background-image: url(./static/yellow-mouth.svg);
    background-repeat: no-repeat;
    width: 11px;
    height: 7px;
    left: 41px;
    top: 19px;
}

#yellow-circle-1 {
    z-index: -9;
    top: 10px;
    left: 15px;
} 

#yellow-circle-2 {
    right: -20px;
    bottom: 30px;
}

#yellow-circle-3 {
    right: 415px;
    top: 328px;
}

.media {
    background-repeat: no-repeat;
    width: 50px;
    height: 70px;
}

.media-wrapper {
    display: flex;
    margin-left: 350px;
    margin-top: 90px
}

@media (max-width: 800px) {
    .media-wrapper {
        margin-left: 40px;
    }
}

.linkedin {
    background-image: url(./static/linkedin.svg);
}

.twiter {
    background-image: url(./static/twiter.svg);
}

.facebook {
    background-image: url(./static/facebook.svg);
}

.pinterest {
    background-image: url(./static/pinterest.svg);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    margin-top:80px;
    margin-bottom:30px;
    height: 58px;
    left: 147px;
    top: 179px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: #3E3E3E;
}

.input-message {
    height: 189px;
}

button {
    color: white;
    border: none;
    width: 218px;
    height: 73px;
    background: #FAD34F;
    border-radius: 500px;
    margin: 15px 0;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

.footer {
    box-sizing: border-box;
    min-height: 200px;
    background: #FAFAFA;
    border: 1px solid #D8D8D8;
    z-index: 1;
    overflow: hidden;
}

.green-smile {
    background-image: url(./static/greenSmile.svg);
    height: 97px;
    width: 79px
}

#green-smile-1 {
    top: 0px;
    right: 80px;
}

#green-eye-right {
    background-size: 100%;
    position: absolute;
    background-image: url(./static/smile-1.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    left: 40px;
    top: 66px;
    transform: rotate(402deg);}

#green-eye-left {
    background-size: 100%;
    position: absolute;
    background-image: url(./static/smile-1.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    left: 24px;
    top: 66px;
    transform: rotate(405deg);
}

#green-mouth {
    background-size: 100%;
    position: absolute;
    background-image: url(./static/yellow-mouth.svg);
    background-repeat: no-repeat;
    width: 19px;
    height: 18px;
    left: 29px;
    top: 49px;
    transform: rotate(214deg);
}